
Kwwika.Common/bin/
*.user
*.vspscc
Kwwika.Library.Common/bin
*.SCC
Kwwika.QueueComponents/bin
Kwwika.QueueComponents/obj/
Kwwika.UpdateService/bin
Kwwika.UpdateService/obj
Kwwika.Library.Common/obj
Kwwika.UpdateServiceConsole/bin
Kwwika.UpdateServiceConsole/obj
Kwwika.Common/obj
Kwwika.Components.suo
build/bin/*.*.dll
build/*.*.dll
build/*.*.dll
build/bin/Debug/*.dll
build/bin/Debug/*.pdb
build/bin/Debug/*.xml
build/bin/Release/*.dll
build/bin/Release/*.pdb
Kwwika.Library.QueueComponents/bin/Debug/*.dll
build/bin/Release/*.xml
Kwwika.Library.QueueComponents/bin/Debug/*.pdb
Kwwika.Library.QueueComponents/bin/Debug/*.xml
Kwwika.Library.QueueComponents/bin/Release/*.dll
Kwwika.Library.QueueComponents/bin/Release/*.pdb
Kwwika.QueueComponents.Tests/bin/Debug/*.dll
Kwwika.Library.QueueComponents/bin/Release/*
Kwwika.Library.QueueComponents/obj/*.*
Kwwika.Library.QueueComponents/obj/*
Kwwika.QueueComponents.Tests/bin/*
Kwwika.QueueComponents.Tests/obj/*
Kwwika.TestHelpers/bin/*
Kwwika.TestHelpers/obj/*