<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        autoReload="true">
    <targets async="true">
      <target xsi:type="File" name="fileLogger"
		    layout="${longdate} ${logger} ${message}"
		    fileName="${basedir}/logs/logfile.txt"
		    archiveFileName="${basedir}/archives/log.{#}.txt"
		    archiveEvery="Day"
		    archiveNumbering="Rolling"
		    maxArchiveFiles="7"
		    concurrentWrites="true"
		    keepFileOpen="false" />
      <target xsi:type="ColoredConsole"
            name="consoleLogger" />
    </targets>
    <rules>
      <logger name="*" writeTo="fileLogger, consoleLogger" minLevel="Info"/>
    </rules>
  </nlog>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120E14C03D0593C" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
